<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ad1d1750-6e95-4d18-a408-0f4354ac9426" Publisher="CN=Makoto" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LockScreenSample</DisplayName>
    <PublisherDisplayName>Makoto</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LockScreenSample.App">
      <VisualElements DisplayName="LockScreenSample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="LockScreenSample" ForegroundText="light" BackgroundColor="#1259fb">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\24.png" />
        <DefaultTile ShowName="allLogos" WideLogo="Assets\310_150.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="SampleTask.Class1">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>